body{
    background-color: #91f4ff;
}

p{
    color: dark;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

body{
    background-color: #91f4ff;
}

.temperature{
    text-align: center;

}